.markdown__container
{
    width:100vw;
    height: 100vh;
    background: #bdc3c7;

}
.markdown__header
{
    width:100vw;
    height:50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
    padding: 0 40px;

}


.markdown__content
{
    width:100vw;
    height: calc(100% - 50px);
    display : flex;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width:769px) {

    .markdown__content
    {
        flex-direction: column;
        justify-content: space-around;
    }

}